name: Documentation

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: install_python
        run: |
          sudo apt-get update -qy
          sudo apt-get install -y python3-dev python3-pip python3-venv libxml2-dev libxslt-dev zlib1g-dev libegl1 libopengl-dev

      - name: Compile and install dependencies
        run: |
          pip install --upgrade pip uv meson-python ninja numpy
          uv pip compile --python-version=3.12 -o requirements-docs.txt pyproject.toml --extra docs
          pip install -r requirements-docs.txt

      - name: create_venv
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip meson ninja

      - name: install_package
        run: |
          source .venv/bin/activate
          pip install .[docs]

      # Standard drop-in approach that should work for most people.
      - name: build_doc
        run: |
          source .venv/bin/activate
          cd docs
          make html SPHINXOPTS="-j auto"
          cd ..

      - uses: actions/upload-artifact@v5
        with:
          path: docs/_build/html
          name: documentation

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          force_orphan: true
