name: Build and publish documentation

on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python
        run: |
          sudo apt-get update -qy
          sudo apt-get install -y python3-dev python3-pip libxml2-dev libxslt-dev zlib1g-dev libegl1 libopengl-dev
          # Upgrade to latest meson and ninja
          sudo pip install --upgrade meson ninja

      # needs fenics to build fenics integration documentation snippet
      - name: Install FENICS
        run: |
          sudo apt-get install -y --no-install-recommends software-properties-common
          sudo add-apt-repository -y ppa:fenics-packages/fenics
          sudo apt-get update -qy
          sudo apt-get install -y fenics python3-dolfin python3-mshr

      - name: Create virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install --upgrade meson ninja

      - name: Build and install package
        run: |
          source venv/bin/activate
          pip install -no-build-isolation .[docs]

      # Standard drop-in approach that should work for most people.
      - name: Build documentation
        run: |
          source venv/bin/activate
          cd docs
          make html SPHINXOPTS="-j auto"
          cd ..

      # Publish built docs to gh-pages branch.
      # ===============================
      - name: Commit documentation changes
        run: |
          git clone https://github.com/libAtoms/matscipy.git --branch gh-pages --single-branch gh-pages
          cp -r docs/_build/html/* gh-pages/
          cd gh-pages
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update documentation" -a || true
          # The above command will fail if no changes were present, so we ignore
          # that.

      - name: Push changes
        if: github.ref == 'refs/heads/master'
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
