name: Documentation

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Compile and install dependencies
        run: |
          pip install --upgrade --system pip uv
          uv pip compile --python-version=3.12 -o requirements-docs.txt pyproject.toml --extra docs
          pip install --system -r requirements-docs.txt

      - name: Install matscipy
        run: pip install --no-build-isolation -e .

      - name: Build documentation
        run: sphinx-build -W docs docs/_build/html
        env:
          MPLBACKEND: Agg

      - uses: actions/upload-artifact@v4
        with:
          path: docs/_build/html
          name: documentation

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          force_orphan: true
