name: Run tests

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches: [ master ]

jobs:
  tests:

    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12']

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      # needs fenics only to run test_poisson_nernst_planck_solver_fenics
      # - name: Install FENICS
      #  run: |
      #    sudo apt-get install -y --no-install-recommends software-properties-common
      #    sudo add-apt-repository -y ppa:fenics-packages/fenics
      #    sudo apt-get update -qy
      #    sudo apt-get install -y fenics python3-dolfin python3-mshr

      - name: Create virtual environment and install package
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install .[test]

      - name: Test with pytest
        run: |
          source venv/bin/activate
          cd tests
          pytest -v --junitxml=report.xml --durations=20 --timeout=300

      - name: Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: "**/report.xml"
