name: Tests

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python: [ '3.9', '3.10', '3.11', '3.12' ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install meson and build dependencies
        run: pip install meson meson-python ninja numpy

      - name: Install and test
        run: pip install --no-build-isolation -e .[test] && pytest tests/ -v --junitxml=report.xml --durations=20 --timeout=300

      - name: Upload test results
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: report.xml
          include_passed: true
